<nav class="navbar navbar-dark bg-inverse">
<%= link_to 'Tickets', root_path, class: 'navbar-brand' %>
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="#">Venues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</nav>
